<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"> 
    
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body> 
        <div class="container"> 
            <br/>
            <f:view>
                <h:form> 
                    <div class="table-responsive"> 
                        <h:dataTable class="table table-bordered" var="e" value="#{obj.employees}">
                            <h:column>
                                <f:facet name="header">Name </f:facet>
                                <h:outputText value="#{e.name}"/>
                            </h:column>

                            <h:column>
                                <f:facet name="header">Sur-Name </f:facet>
                                <h:outputText value="#{e.surname}"/>
                            </h:column>

                            <h:column>
                                <f:facet name="header">Birth Year </f:facet>
                                <h:outputText value="#{e.birthyear}"/>
                            </h:column>

                            <h:column> 
                                <f:facet name="header">Action</f:facet>
                                <h:commandButton class="btn btn-info btn-sm" value="Select" action="#{obj.select(e)}"/>
                            </h:column>
                        </h:dataTable> 
                    </div> 
                    
                    <br/>
                    <hr/>
                    <br/>
                    
                    <div class="table-responsive col-lg-5"> 
                        <table class="table table-hover table-bordered">
                            <tr class="success">
                                <td>Name</td> 
                                <td><h:inputText value="#{obj.selectedEmployee.name}"/></td>
                            </tr> 

                            <tr class="danger">
                                <td>Sur-name</td>
                                <td><h:inputText value="#{obj.selectedEmployee.surname}"/></td>
                            </tr> 

                            <tr class="info">
                                <td>Birth Year</td>
                                <td><h:inputText value="#{obj.selectedEmployee.birthyear}"/></td>
                            </tr> 
                        </table> 
                    </div> 
                </h:form> 
            </f:view> 
        </div> 
    </h:body> 
</html>

